global
    log /dev/log local0 notice
    user haproxy
    group haproxy

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    default_backend backend

backend backend
   server b1 n_server:80 check
